{{#each properties as |property| }}
<div class="col-sm-12 col-md-10 property-card">
  <div class="card">
    <div class="card-header">
      <a href="/property/{{property.id}}">{{property.address}}</a>
    </div>
  </div>
</div>
{{/each}}



//property with a (reference property id)
//property shows address 